__pycache__
.idea
.vscode
modulo_didatico
sketch_apr10a_tankLike
sketch_jan13a
[TRAINIG]multipleWindows.py
a
aa.py
aplication.py
Códigos Diversos.rar
configScreen.py
corrente.cs
entrada.csv
functions.py
modulo_didatico_FINAL.rar
Objetivos.txt
read_levelTank.py
realTimePlotGui.py
serialDataTest.py
serialDataTestWithScatter.py
tensao.csv
teste2.py
teste3.py
teste4.py
teste4_classesWith.py
teste5.py
teste5_classesWith.py


